.slide-54 {
    border-bottom-left-radius: 100% 50%;
    border-top-left-radius: 100% 50%;
    height: 235px;
    width: 250px;
}

.slide-54a {
    border-radius:100% 0 0 100% / 50%;
}

.slide-55 {
    border-radius: 50% / 60% 60% 40% 40%;
}

.slide-56 {
    border-radius: 100px 100px 0 100px;
    border-bottom: 20px solid rgba(0,0,0,.3);
    border-right: 20px solid rgba(0,0,0,.6);
}

.slide-57 {
    border-radius: 500px 50px;
}

.slide-62 {
    box-shadow: 0px 10px 10px -5px black;
}

.slide-63 {
    box-shadow: inset 0 100px hsla(0,0%,100%,.2);
}

.slide-64 {
    box-shadow: 0em 0em 1em 1em slategray;
}

.slide-65 {
    box-shadow: 0 0 0 10px slategray inset, 0 0 0px 11px white inset;
}

.slide-66 {
    box-shadow: 0 200px 100px -100px white inset;
}

.slide-71 {
    text-shadow: 0 0 0.1em white, 0 0 0.2em white;
}

.slide-72 {
    text-shadow: .05em .05em 0 slategrey, .1em .1em 0 black;
}

.slide-73 {
    text-shadow: 1px 1px 0px rgba(0,0,0,.5), -1px -1px 0px white;
    color: #ddd;
    background-color: currentColor;
}

.slide-74 {
    text-shadow: 0 0 0.4em black;
    color: transparent;
}

.slide-75 {
    color: #ddd;
    text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #999,
                 5px 5px 0 #888, 5px 5px 0 #777, 6px 6px 0 #666, 6px 6px 4px #555;
}

.slide-76 {
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
    color: white;
}

.slide-85 {
    background: #d00 url(img/presto.svg) no-repeat right bottom;
    padding: 20px;
    background-origin: content-box;
    background-size: 100px auto;
}

.slide-99 {
    background-image: linear-gradient(
        hsla(0,0%,100%,.7), hsla(0,0%,100%,.3) 50%,
        hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0));
}



